# local
GATEWAY_URL="http://localhost:8000"
DB_HOST="127.0.0.1"
DB_PORT="33090"
DB_ONES_DATABASE="ones"
DB_USERNAME="root"
DB_PASSWORD="root"

# dev (used in CI via ENV_TEST variable)
# GATEWAY_URL=""
# BASE_URL=""
# DB_HOST=""
# DB_PORT="3306"
# DB_ONES_DATABASE=""
# DB_USERNAME=""
# DB_PASSWORD=""

ONES_HOST_REST_URL="https://88.204.147.92/TWB/hs/AmanatHTTP"
ONES_LOGIN=""
ONES_PASSWORD=""
DB_CONNECTION="mysql"
AUTH_LOGIN=""
AUTH_PASSWORD=""
NODE_TLS_REJECT_UNAUTHORIZED="0"