# local
# GATEWAY_URL="http://localhost:8000"
# DB_HOST="127.0.0.1"
# DB_PORT="33090"
# DB_ONES_DATABASE="ones"
# DB_USERNAME="root"
# DB_PASSWORD="root"

ONES_HOST_REST_URL="https://88.204.147.92/TWB/hs/AmanatHTTP"
ONES_LOGIN="admin_json"
ONES_PASSWORD="GRb%@vd23sb2"
DB_CONNECTION="mysql"

AUTH_LOGIN="online"
AUTH_PASSWORD="online21@CK!"
NODE_TLS_REJECT_UNAUTHORIZED="0"

# dev
GATEWAY_URL="https://gateway-dev.amanat.systems"
BASE_URL="https://adp-dev.amanat.systems"
DB_HOST="terraform-20210719080012218700000001.clsunb3tleit.eu-central-1.rds.amazonaws.com"
DB_PORT="3306"
DB_ONES_DATABASE="ones_dev"
DB_USERNAME="devops_rds"
DB_PASSWORD="neox2Eipeeca5sheey3food8aevoo2bi"
